<header>
  <div class="collapse bg-dark" id="navbarHeader">
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a 
        routerLink="/commands"
        routerLinkActive="active"
        class="navbar-brand d-flex align-items-center">
        <strong>Commands and snippets</strong>
      </a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" 
          href="/commands/new"
          routerLink="/commands/new">Add Command</a>
      </li>
    </ul>

  </div>
</header>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Store your favorite commands</h1>
    <p class="lead text-muted">This is the perfect place to store useful commands so you don't forget them!</p>
  </div>
  </section>